@charset "utf-8";
html,
body {
    height: 100%;
}

.home-page {
    min-width: 1200px;
}

.hp-top {
    overflow: hidden;
    background-image: url(../img/homePage-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100px;
    height: 100px;
}

.hp-t-left {
    float: left;
    overflow: hidden;
    img.hp-t-l-logo {
        width: 100px;
        height: 80px;
        margin-top: -30px;
    }
    h1 {
        display: inline-block;
        color: white;
        line-height: 100px;
        font-family: "微软雅黑";
        font-weight: bold;
        font-size: 34px;
        margin: 0;
    }
}

.hp-t-right {
    float: right;
    overflow: hidden;
    color: white;
    font-family: "微软雅黑";
    font-weight: bold;
    font-size: 15px;
    span {
        margin: 5px;
        display: inline-block;
        height: 25px;
        line-height: 25px;
    }
    .hp-t-r-top,
    .hp-t-r-bottom {
        height: 35px;
        line-height: 35px;
    }
    .hp-t-r-top {
        margin-top: 15px;
        span {
            &:first-child {
                padding-left: 30px;
                background-repeat: no-repeat;
                background-size: 25px;
                background-image: url(../img/people.png);
            }
        }
    }
    .hp-t-r-bottom {
        margin-bottom: 15px;
        span {
            padding-left: 30px;
            cursor: pointer;
            background-image: url(../img/icon-close.png);
            background-repeat: no-repeat;
            background-size: 25px;
            &:hover {
                color: #ccc;
            }
            &:first-child {
                background-image: url(../img/icon-lock.png);
            }
        }
    }
}

.hp-menu {
    background-color: #CCCCFF;
    height: 36px;
    line-height: 36px;
    font-size: 0;
    a {
        font-family: "微软雅黑";
        font-size: 16px;
        outline: none !important;
        font-weight: 700;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    .btn-group {
        height: 36px;
        .dropdown {
            border-right: 1px solid rgb(0, 102, 153);
            height: 26px;
            line-height: 26px;
            margin: 5px 0;
            padding: 0 10px;
            span.caret {
                border-width: 6px;
            }
        }
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hp-name-list {
    padding: 5px 0;
    ul {
        font-size: 0;
        overflow-x: hidden;
        height: 37px;
        padding-left: 10px;
        border-bottom: 1px solid #C9C9C9;
    }
    li {
        float: left;
        span {
            display: inline-block;
            font-size: 14px;
            cursor: pointer;
            padding: 8px 15px;
            height: 36px;
            line-height: 20px;
            color: #003366;
            font-family: "微软雅黑";
            font-weight: 700;
            background-color: #D8E2EB;
            border: 1px solid #C9C9C9;
            border-bottom: none;
            i {
                cursor: default;
                margin-left: 10px;
                font-size: 14px;
                font-family: "宋体";
                font-weight: 700;
                font-style: normal;
                &:hover {
                    color: red;
                }
            }
        }
    }
    li.active {
        span {
            background-color: white;
        }
    }
}

.hp-iframe-list {
    ul {
        position: relative;
        height: 100%;
    }
    li {
        position: absolute;
        display: none;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        iframe {
            border: none;
            width: 100%;
            height: 100%;
        }
    }
    li.active {
        display: block;
        z-index: 2;
    }
}

.footer {
    height: 30px;
    background-image: url(../img/homePage-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 30px;
    text-align: center;
    color: white;
    font-family: "微软雅黑";
    line-height: 30px;
}