@charset "utf-8";
.new-publicity-plan {
    .mid-table {
        .mt-handle-button-group {
            p.mt-hbg-tip {
                font-family: "微软雅黑";
                float: right;
                color: #555;
                font-size: 12px;
                margin: 0;
                line-height: 32px;
            }
        }
    }
    p.mt-tip {
        color: #555;
        font-size: 12px;
        margin: 0;
        padding: 10px 0 0;
    }
    .mt-checkbox-list {
        .checkbox-inline {
            margin-left: 0;
            margin-right: 10px;
            margin-bottom: 5px;
        }
    }
    .checkbox {
        margin: 0;
        .checkbox-inline {
            color: #337ab7;
        }
    }
}
