.new-work-plan {
    .form-group {
        display: inline-block;
        margin: 0;
        input[type='date'] {
            width: 200px;
        }
    }
}

.data-table .table tr td {
    &:first-child {
        width: 50px;
    }
    &:first-child+td {
        width: 20px;
        text-align: center;
        vertical-align: middle;
    }
}
.modal-body .handle-top{
    margin-bottom: 5px;
}
