.work-plan-audit {
    .mid-table.tab-table {
        .tab-content {
            .table {
                td {
                    padding: 5px;
                    &:first-child {
                        background-color: white;
                    }
                    &:first-child+td {
                        width: auto;
                    }
                    &:last-child {
                        text-align: center;
                        width: 80px;
                    }
                    .btn {
                        padding: 3px 15px;
                    }
                }
            }
        }
    }
}
